table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-size: 0.8rem;
  letter-spacing: 1px;
}

thead {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.create-table {
  padding: 4px;
  font-size: 1.2rem;
  background-color: lightblue;
  border-radius: 7px;
  transition: 0.4s;
  
  &:hover {
    background-color: orange;
    color: white;
  }
}

.add-to-lib {
  padding: 4px;
  font-size: 1.2rem;
  background-color: orange;
  color: white;
  border-radius: 7px;
  transition: 0.4s;
  
  &:hover {
    background-color: lightblue;
    color: black;
  }
}

.book-remove {
  position: absolute;
  margin-left: 10px;
}

.unread-book {
  position: absolute;
  margin-left: 70px;
}