/*normalize*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
  font-family: var(--main-font), var(--fallback-fonts);
  font-size: 1.2rem;
  width: 100vw;
  height: 100vh;
  margin-top: 0.5rem;
  background-color: #F9F3EF;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*inputs container*/
.inputs-container {
  margin-top: 2rem;
  width: 19vw;
  height: 30vh;

  display: grid;
  gap: 0.5rem;
  align-content: center;
  justify-content: center;

  & > * {
    width: 17vw;
    display: flex;
    justify-content: space-between;
  }
}

.table-container {
  width: 40vw;
  height: 40vh;
  overflow: auto;
  text-align: center;
  border: 4px solid rgb(91, 6, 38);

  & > h2 {
    border-bottom: 4px solid rgb(91, 6, 38);
  }
}

table {
  margin: 0 auto;
  width: 90%;
  height: 4vh;
  letter-spacing: 1px;
}

td {
  border-radius: 4px;
  background-color: rgb(18, 17, 39);
  color: white;
}

.add {
  padding: 4px;
  font-size: 1.2rem;
  background-color: rgb(18, 17, 39);
  border-radius: 7px;
  transition: 0.4s;
  color: white;
  
  &:hover {
    background-color: rgb(40, 38, 86);
  }
}

.remove {
  padding: 4px;
  font-size: 1.2rem;
  background-color: rgb(91, 6, 38);
  color: white;
  border-radius: 7px;
  transition: 0.4s;
  
  &:hover {
    background-color: rgb(153, 13, 66);
  }
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


input[type="checkbox"] {
  /*positioning*/
  position: absolute;
  left: -25px;
  bottom: 6px;

  /*appearance*/
  appearance: none;
  width: 1em;
  height: 1em;
  border: 2px solid gray;
  border-radius: 4px;


  &:checked {
    border: none;
  }
  
}

input[type="checkbox"]::before {
  content: "✗";
  color: rgb(91, 6, 38);
  position: absolute;
  font-size: 1.2em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}

input[type="checkbox"]:checked::before {
  visibility: visible;
  background-color: rgb(232, 232, 9);
}